<section class="section-property section-t8">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title-wrap d-flex justify-content-between">
          <div class="title-box">
            <h2 class="title-a">Derniéres Propriétées </h2>
          </div>
          <div class="title-link">
            <a href="{{ path('app_property') }}"
              >Toutes les propriétées 
              <span class="bi bi-chevron-right"></span>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div id="property-carousel" class="swiper">
      <div class="swiper-wrapper">
        {% for property in properties %}
        <div class="carousel-item-b swiper-slide">
          <div class="card-box-a card-shadow">
            <div class="img-box-a">
              <img
                src="assets/img/property-6.jpg"
                alt=""
                class="img-a img-fluid"
              />
            </div>
            <div class="card-overlay">
              <div class="card-overlay-a-content">
                <div class="card-header-a">
                  <h2 class="card-title-a">
                    <a href="property-single.html"></a>
                      {{ property.getTypeType }} <br />
                      {{ property.title }}</a
                    >
                  </h2>
                </div>
                <div class="card-body-a">
                  <div class="price-box d-flex">
                    <a href="{{ path('app_property_show', { id: property.id,  slug: property.slug} ) }}"><span class="price-a">  {{ property.getStatusType }}  |  {{ property.formattedPrice }} DZA </span>
                    </a> 
                  </div>
                  <a href="#" class="link-a"
                    >Cliquez ici pour voir
                    <span class="bi bi-chevron-right"></span>
                  </a>
                </div>
                <div class="card-footer-a">
                  <ul class="card-info d-flex justify-content-around">
                    <li>
                      <h4 class="card-info-title">Superficie</h4>
                      <span>{{ property.surface }} m
                        <sup>2</sup>
                      </span>
                    </li>
                    <li>
                        <h4 class="card-info-title">Piéces</h4>
                        <span>{{ property.rooms }}</span>
                      </li>
                    <li>
                      <h4 class="card-info-title">Chambres</h4>
                      <span>{{ property.bedrooms }}</span>
                    </li>
                    <li>
                      <h4 class="card-info-title">Parking</h4>
                      <span>{{ property.parking }}</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}

        
      </div>
    </div>
        <div class="propery-carousel-pagination carousel-pagination">
            
        </div>
  </div>
</section>
